<h1>{{title}} - Egészségügyi Szuri Tár</h1>
<div>
    <a href="/person/count">A beoltott személyek száma</a>
</div>
<div>
    <a href="/person/vaccinated">A beoltott személyek adatai</a>
</div>
<div>
    <a href="/api-docs">Swagger API dokumentáció</a>
</div>
