<h1>{{title}} - Egészségügyi Szuri Tár</h1>
<div>
    <a href="/person/">Összes nyilvántartott személy</a>
</div>
<div>
    <a href="/person/count">A beoltott személyek száma</a>
</div>
<div>
    <a href="/person/vaccinated">A beoltott személyek adatai</a>
    <div class="tab">
        <a href="/person/moderna">- Modernával oltottak</a>
    </div>
    <div class="tab">
        <a href="/person/pfizer">- Pfizerrel oltottak</a>
    </div>
    <div class="tab">
        <a href="/person/sinopharm">- Sinopharmmal oltottak</a>
    </div>
    <div class="tab">
        <a href="/person/sputnik">- Sputnikkal oltottak</a>
    </div>
</div>
<div>
    <a href="/api-docs">Swagger API dokumentáció</a>
</div>
